<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Article</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Article</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
  
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Article DataTable</h3>
          </div>

         
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Photo</th>
                <th>Header</th>
                <th>Contents</th>
                <th>AddTime</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let article of articles">
                <td>{{article.photo}}</td>
                <td>{{article.header}}</td>
                <td>{{article.contents}}</td>
                <td>{{article.addtime}}</td>
                <td>
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default"><i class="fas fa-edit"> </i>
                    Edit
                  </button>
                  <button type="button" class="btn btn-danger ">
                    <i class="fas fa-edit"> </i>
                    Delete <i class="far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>Photo</th>
                <th>Header</th>
                <th>Contents</th>
                <th>AddTime</th>
                <th>Actions</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div> <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Default Modal</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
              <input type="text" class="form-control" id="updateInputPhoto" placeholder="Enter Photo">
              <input type="text" class="form-control" id="updateInputHeader" placeholder="Enter email">
              <input type="text" class="form-control" id="updateInputContent" placeholder="Enter email">
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
